.Todo {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  min-height: 120px;
  max-height: none;
  height: auto;
  display: block;
  margin-bottom: 10px;

  .header {
    display: flex;
    align-items: start;
    margin-bottom: 10px;

    .info {
      display: flex;
      max-width: 200px;

      p {
        display: block;
        text-align: start;
        font-weight: 700;
        font-size: 20px;
        margin-left: 20px;
        width: 220px;
        word-wrap: break-word;
      }
    }
    .text {

    }
    .actions {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 5px;
      height: 120px;

      .moveToWork::after {
        content: attr(data-title);
        opacity: 0;
        width: 100px;
        position: absolute;
        background: blue;
        border-radius: 5px;
        color: #fff;
        top: -10px;
        font-size: 10px;
      }
      .moveToWork:hover::after {
        content: attr(data-title);
        opacity: 1;
      }
      .moveToWork {
        font-size: 18px;
        color: blue;
        position: relative;
        height: 30px;
      }
      .edit {
        color: green;
        rotate: 90deg;
      }
      .delete {
        color: red;
      }
    }
  }
}
